@charset "UTF-8";

/* Typical Device Breakpoints
-------------------------------
Pequenas telas: até 600px
Celular: 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes Telas: acima de 1200px
*/

@media screen and (min-width: 768px) and (max-width: 992px) {
    main{
        max-width: 600px;
        margin: auto;
    }

    #icon{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li{
        display: inline-block;
        border: 0cap;
    }

    menu > ul > li:hover{
        color: #007BFF;
    }
    
   
      
}
 @media screen and (min-width: 992px) and (max-width: 1200px) {
   
     #icon{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
        border: 0cap;
    }

    menu > ul > li:hover{
        color: #007BFF;
    }
   
   
    main{
        max-width: 800px;
        margin: auto;
        
    }

    .hero h2{
        text-align: center;
    }

    .hero p{
        text-align: center;
    }

    .hero{
        text-align: center;
    }

 }

@media screen and (min-width: 1200px) {
   
     #icon{
        display: none;
    }
    menu{
        display: block;
    }
    menu > ul > li{
        display: inline-block;
        border: 0cap;
    }

    menu > ul > li:hover{
        color: #007BFF;
    }
   
   
    main{
        max-width: 1000px;
        margin: auto;
    }

    .hero{
        text-align: center;
    }
}