@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;

    padding: 20px;
}

.logo_jornal {
    /* Alinhado à esquerda */
    order: 1;
}

.titulo {
    /* Alinhado ao centro */
    order: 2;
}

.logo_acm {
    /* Alinhado à direita */
    order: 3;
}


div.logo_jornal{
    display: inline-block;
    margin-left: 5%;
    
}

div.logo_acm{
    display: inline-block;
    margin-right: 5%;
}

div.titulo{
    display: inline-block;  
}

nav {
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    background-color: rgb(241, 241, 241);

}

nav a{
    padding-right:20px ;
    padding-left: 20px;
    text-decoration: none;
    color: black;

}

nav a:hover{
    text-decoration: underline;
    color: #004aab;
}

main h1{
    font-size: 2.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main h2{
    font-size: 1.7em;
    padding: 10px;
    padding-top: 20px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.6em;
    text-indent: 20px;
    padding: 10px;
}

div.membros{
    display: block;
    background-color: rgb(213, 213, 213);
    text-align: left;
    width: 30vw;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    list-style-position: inside;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498);
    
}

div.membros  h3{
    font-size: 1.5em;
    margin: 10px;
}

div.membros  li{
    font-size: 1.2em;
    margin-top: 10px;
}


footer{
    background-color: rgb(241, 241, 241);
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #004aab;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}
