@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid black;
}

span#menu{
    display: block;
    padding: 5px;
}


div.logo_jornal{
    display: inline-block;
    margin: auto;    
    
}


nav#itens {
    display: none;
    padding: 10px;
    text-align: center;
    border-top: 1px solid black;
    background-color: rgb(241, 241, 241);

}

nav#itens  a{
    background-color: rgba(128, 128, 128, 0.458);
    display: block;
    margin: 1px;
    padding: 5px;
    text-decoration: none;
    color: black;
}

nav#itens a:hover{
    text-decoration: underline;
    color: #004aab;
    background-color: rgb(241, 241, 241);
}

main h1{
    font-size: 2.5em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

main h2{
    font-size: 1.7em;
    padding: 10px;
    padding-top: 20px;
}

main p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    line-height: 1.6em;
    text-indent: 20px;
    padding: 10px;
}

div.membros{
    display: block;
    background-color: rgb(213, 213, 213);
    text-align: left;
    min-width: 100px;
    max-width: 150px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 20px;
    list-style-position: inside;
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498);
    
}

div.membros  h3{
    margin: 10px;
}

div.membros  li{
    font-size: 1.2em;
    margin-top: 10px;
}


footer{
    background-color: rgb(241, 241, 241);
    border-top: 1px solid black;
    text-align: center;
    padding: 10px;
}

footer a {
    color: #004aab;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
}


/* Pagína sobre */

div#equipe{
    display: block;
    text-align: left;

    background-color: #004aab61;

    padding: 10px;
    margin: 20px;
    border-radius: 20px;
    width: 80vw;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.498);
}

div#equipe h3{
    padding: 10px 0px 10px 10px;
}

.social{
    display:  inline;
}


